*{
    margin: none;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
}

html{
    background-color: #A9A9A9;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    width: fit-content;
}

.input{
    width: 90%;
}

.container{
    height: 500px;
    background-color:#ffffff80;
    border-radius: 10px;
    text-align: center;
}

.inputMsg{
    margin: 10px;
    height: 10px;
    padding: 5px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

input[type="text"]{
    margin: 10px;
    height: 40px;
    width: 400px;
    background:#ffffff80;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

#submit{
    width: 70px;
    height: 45px;
    border: none;
    border-radius: 20px;
    margin-right: 5px;
}
#submit:hover{
    background-color: cornflowerblue;
    color: cornsilk;
}

.display{
    text-align: center;
    margin:auto;
    width: 90%;
    border-radius: 10px;
}

.clear{
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    font-size: 20px;
    margin: 15px;
}
.clear:hover{
    background-color: cornsilk;
}

@media only screen and (max-width: 1025px) {
    .input{
        width: 100%;
    }
    input[type="text"]{
        margin: 10px;
        height: 40px;
        width: 200px;
        background:#ffffff80;
        font-size: 25px;
        border: none;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
    }
}